


        
    .dingwei{
        z-index: 1000;
        display: block;
        position: fixed;
        width:40px;height:100%;
        background: black;
        right: 0;
        > .cont2{
            width:40px;
            height:580px;color:#fff;
            margin: 200px 0;
            > .dw1{width: 40px;height: 60px;position: relative; 
                > .dw_dl_dc{position: absolute; width: 90px; height: 40px;background: #666;left: -91px; top: 10px; font-size: 14px;line-height: 40px; text-align: center;} 

            } :hover{background: #EF3C79;}

            > .dw2{width: 40px;height: 190px; border:1px dashed #ccc;border-left:none;border-right: none; 
                a{color: #fff;
                > .spans {display: block; width: 20px; height: 120px;margin-left: 12px; padding-top: 30px;}
                }
            }
            > .dw3{width: 40px;height: 50px; &:hover{background: black;}}
            > .dw4{width: 40px;height: 50px; display: block;
                        font-size: 14px;
            }
            
        }
    }




.inputs{
    width: 100%;
    .cont{
        height:102px;
        > .inputs_l{ 
            .logo{background:url('../img/logo.png')no-repeat;margin-top: 20px; width: 276px; height: 80px;}
        }

        > .inputs_c{width: 659px;height: 100px; 
            .txt{width: 428px;height: 38px;margin-top: 26px;border: 1px solid #ccc;padding-top: 2px;}
            .btn{width: 85px; height: 42px;margin-top: 26px; border:none;font-size: 18px;}
        }
       
        > .inputs_r{width: 255px;height: 100px; 
            .input_l{width: 115px;height: 44px;border: 1px solid #f0f0f0;float: left;margin-top: 26px; background: #FAFAFA;margin-right: 8px;line-height:45px; font-size: 14px;text-align: center;}
            .input_r{width: 115px;height: 44px;border: 1px solid #f0f0f0;float: left;margin-top: 26px; background: #FAFAFA;margin-right: 8px;line-height:45px; font-size: 14px;text-align: center;}
        }
    }
}

nav{
    width:100%;
    border-bottom: 2px solid #EF3C79;
    .cont{height: 38px;

          .nav_l{width: 210px;height: 38px;color: #fff; line-height:36px;background: #EF3C79;font-weight: bold; 
            > .kawei {width:20px;height: 30px;}
            > .i {font-weight: bold; padding-left: 40px;}
            >  a {display:block; width: 70px; color: #fff; font-size: 14px;}  


            > .twoji{position:relative ;width:208px;height:484px;top: 0px; z-index: 10000;font-size: 14px; border: 1px solid #ccc; background: #fff;
                    > .threeji_1{position: relative;
                    > .threeji_far{ display: none; >.ul_li{padding-left: 100px; > li{padding-right: 20px;}}}
                  } 
                 &:hover .threeji_far{display: block;;position: absolute;top: 3px; left: 208px; background: #fff; width:978px;height:438px; border: 1px solid #ccc; margin: 0;}
                    .twoji_oo{color: #ccc; 
                    } & > a:hover{ color: red;}                
                   
        }

        }
         
        ul{  li{float: left;} 
            a{height: 38px; ;padding: 0 30px 0 30px;line-height: 36px;}
            :hover {color: red;}
         }
    }
}

.lunbotu{ overflow: hidden;
    width:100%;
    .cont{height: 481px;background: #faf;width:1600px;overflow: hidden;
        background: url('../img/big1.jpg')no-repeat ;
        .lbt_r{position: relative;top:-501px;left: -300px;
            width: 216px; height: 484px; background: #fff;
            .lbt_r_t{height: 92px;display: block;background: #fff;
            .lbt_r_t_t {width: 213px; height: 65px;display: block;background: url('../img/lbt_r.png')no-repeat}
            }
            .lbt_r_b{height: 360px; display: block;
            .lbt_r_t_b{}
            }
        }
    .lbt_c{
        position: relative;top:-501px;left: -300px;
        .lbt_c_t{display: block; width: 774px;height: 300px;}
        .lbt_c_b{display: block;
            
            > div{}
            .lbt_c_b_1{background:#EEEEEE url('../img/lbt1.jpg')no-repeat; > a{width: 290px;height: 181px;}}
            .lbt_c_b_2{background:#EEEEEE url('../img/lbt2.jpg')no-repeat; > a{width: 290px;height: 181px;}}
            .lbt_c_b_3{background:#EEEEEE url('../img/lbt3.jpg')no-repeat; > a{width: 290px;height: 181px;}}
            }
        
        }
    }
}



.fenlei{overflow: hidden;
    width:100%;
    .cont{height: 300px;overflow: hidden;
        .fenlei_t{height:42px;
            .fenlei_t_t{
                display: block;
                width:237px; height:42px;
                border-bottom: 1px solid #d0d0d0; 
                text-align: center;
                line-height: 42px;
            }
            :hover{color: #EF3C79;border-bottom:3px solid #EF3C79;}
        }
        > .fenlei_b{padding-top:5px;
            .fenlei_b_b{display: block;
                height: 253px;
                 .idxa{position: relative;border: 1px solid #f0f0f0; border-top: 0;padding-left: 3px;
                    display: block;
                    width: 192px;height: 248px;
                    &:hover{ border: 2px solid #EF3C79;}
                    .pho_div{display: block;
                        > img{width: 100%;height: 100%;}
                    }
                    .data_name{font-size: 10px;}
                    .data_yuan{color: red;font-size: 16px;position: absolute; top: 220px;right: 30px;}
                 }
            }
        }
    }
}

.fenlei_1F{
    width:100%;margin-top: 2px;
    .cont{height: 556px;
        > .F1_l{width: 210px;height: 550px;background:url('../img/F1zuo.png')no-repeat;
               > .F3_l_lb{width: 208px;height: 220px;background: #EF3C79; position: relative;top: 330px; 
           .span_FF{display: block;width: 100px;color: #fff;float: left; line-height: 40px;}

               }
            }
        > .F1_c{width: 776px;height: 550px;
            border-bottom: 1px solid #ccc;
            .FFF1{display:block; width: 775px; height: 56px;background: #fff; 
                    border-bottom: 2px solid #EF3C79;
                :hover{color: #EF3C79; border-bottom: 2px solid #EF3C79;}
                .FFFa{width: 190px;line-height: 54px; text-align: center;}

                .aaaFF{display: block; width:770px;height:546px;background: red ;overflow: hidden; 
                    .affa1 {display: block;
                        width: 770px;height: 546px;
                 .idxa{position: relative;border: 1px solid #f0f0f0; border-top: 0;padding-left: 3px;display: block;width: 192px;height: 248px;
                    
                    &:hover{ border: 2px solid #EF3C79;}
                    .pho_div{display: block;
                        > img{width: 100%;height: 100%;}
                    }
                    .data_name{font-size: 10px;}
                    .data_yuan{color: red;font-size: 16px;position: absolute; top: 220px;right: 30px;}
                 }
                }
            }

 
            }

        }
        > .F1_b{width: 206px;height: 550px;background:url('../img/F1you.png')no-repeat;}
  
}
}

.fenlei_2F{margin-top: 2px;width:100%;
    .cont{height: 556px;
        > .F2_l{width: 210px;height: 550px;background:url('../img/F1zuo.png')no-repeat;
               > .F3_l_lb{width: 208px;height: 220px;background: #EF3C79; position: relative; top: 330px; color: #fff;
                .span_FF{display: block;width: 100px;color: #fff;float: left; line-height: 40px;}
               }
              
    }
        > .F2_c{width: 776px;height: 550px;
            border-bottom: 1px solid #ccc;
            .FFF2{display:block; width: 775px; height: 56px;background: #fff; 
                    border-bottom: 2px solid #EF3C79;
                :hover{color: #EF3C79; border-bottom: 2px solid #EF3C79;}
                .FFFa{width: 190px;line-height: 54px; text-align: center;}
                .aaaFF{display: block; width:770px;height:546px;background: red ; 
                    .affa{display: block;
                        width: 770px;height: 546px;
                 .idxa{position: relative;border: 1px solid #f0f0f0; border-top: 0;padding-left: 3px;
                    display: block;
                    width: 192px;height: 248px;
                    &:hover{ border: 2px solid #EF3C79;}
                    .pho_div{display: block;
                        > img{width: 100%;height: 100%;}
                    }
                    .data_name{font-size: 10px;}
                    .data_yuan{color: red;font-size: 16px;position: absolute; top: 220px;right: 30px;}
                 }
                }
            }
        }
      
    }
}
}

.fenlei_3F{margin-top: 3px;width:100%;
    .cont{height: 556px;
        > .F3_l{width: 210px;height: 550px;background:url('../img/F1zuo.png')no-repeat;
                .F3_l_lb{width: 208px;height: 220px;background: #EF3C79; position: relative;top: 330px;
                    .span_FF{display: block;width: 100px;color: #fff;float: left; line-height: 40px;}

                 }    
    }
        > .F3_c{width: 776px;height: 550px;
            border-bottom: 1px solid #ccc;
            .FFF3{display:block; width: 775px; height: 56px;background: #fff; 
                    border-bottom: 2px solid #EF3C79;
                :hover{color: #EF3C79; border-bottom: 2px solid #EF3C79;}
                .FFFa{width: 190px;line-height: 54px; text-align: center;}
                    .aaaFF{display: block; width:770px;height:546px;background: red ; 
                        .affa{display: block;
                            width: 770px;height: 546px;
                       .idxa{position: relative;border: 1px solid #f0f0f0; border-top: 0;padding-left: 3px;
                    display: block;
                    width: 192px;height: 248px;
                    &:hover{ border: 2px solid #EF3C79;}
                    .pho_div{display: block;
                        > img{width: 100%;height: 100%;}
                    }
                    .data_name{font-size: 10px;}
                    .data_yuan{color: red;font-size: 16px;position: absolute; top: 220px;right: 30px;}
                 }
                    }
                }
        }

        > .F3_b{width: 206px;height: 550px;background:url('../img/F1you.png')no-repeat;}
 
    }
}

}